.footer.why-moscow-home
    section
        p.header-big="Почему выбирают Moscow Home?"
        ul
            li
                span="Профессиональные"
                span="дизайнеры и "
                span="рабочие"
            li
                span!="Прозрачная"
                span="смета"
            li
                span!="Удобный график"
                span="платежей"
            li
                span!="Соответствие"
                span="графику работ"
            li
                span!="Надежные"
                span="гарантии:"
                span="финансовые и"
                span="юридические"
        aside
            div.float-left.half-wide
                h3="Стоимость услуг"
                p="Стоимость услуг зависит от размера строительного объекта, используемых материалов, объемов выполняемых работ и делится на виды:"
                a.start(href="minimal")="Минимальная"
                a(href="optimal")="Оптимальная"
                a(href="standard")="Стандарт"
                a.finish(href="premium")="Премиум"
            div.float-left.half-wide
                h3="Схема работы"
                p.arrows!="Звонок или заявка<span>→</span>Консультация и встреча<span>→</span>Разработка концепта по Вашему запросу<span>→</span>Составление сметы<span>→</span>Заключение договора<span>→</span>Контроль этапов работ<span>→</span>Сдача работы."