extends ./layout.jade
block title
    title Общестроительные и отделочные работы
block content
    body
        #decoration.container
            .top
                div.relative
                    h1.header-big="Общестроительные"
                    h1.header-big="и отделочные работы"
                    section
                        p="Moscow Home обладает многолетним опытом строительства домов эконом класса и премиум-сегмента. Мы строим дома, которые отражают статус своего хозяина, подчеркивают его вкус и увлечения."
                        p="Компания реализовала более ста строительных объектов в престижных районах Московской области и получает от своих заказчиков превосходные рекомендации."
            .do-it
                #take-profi
                    include modules/order-dream
            main.content
                section
                    h1.header-big="Что мы умеем"
                    p="Moscow Home ценит время клиентов, поэтому решает все вопросы, связанные с выполнением строительных работ. Общестроительные работы включают в себя широкий спектр многопрофильных работ:"
                section.contents.wide
                    each text in ["Геодезические и инженерно-проектировочные работы, необходимые для разработки строительного плана и контроля точности его соблюдения.", "Подготовительные работы по предварительной расчистке строительной площадки, вывозу мусора, демонтажу старых зданий, подведению временных площадок и дорог. Устройство комфортабельного строительного городка.", "Строительные работы нулевого цикла связаны с разработкой котлованов.", "Строительные работы выше нулевого цикла: строительство цокольного этажа или фундамента здания, устройство гидроизоляции, дренажа, проведение обратной засыпки песком.", "Возведение стен 1 и 2 этажа, заливка железобетонных перекрытий или монтаж железобетонных плит перекрытий.", "Фасадные работы по облицовке стен декоративным камнем, устройство вентиляционных систем, изготовление и монтаж изделий из натурального камня.", "Отделочные работы.", "Кровельные работы, включающие подготовку основания под кровлю, укладку кровельных материалов, их крепление."]
                        div
                            div=text
                                aside
                                    span
                aside
                    p.header-slim-big!="Примеры общестроительных работ:"
                    include modules/slider-bottom-decoration
            .do-it.bg-chess
                #take-services
                    include modules/take-services
            include modules/footer-why-moscow-home