extends ./layout.jade
block title
    title Проектирование и дизайн
block content
    body
        #design.container
            header.absolute
                include modules/nav
            .top
                div
                    h1="Проктирование зданий и помещений"
                    p="Moscow Home осуществляет полный комплекс услуг по разработке проектов жилых домов. Заказчикам предлагается разработка общего проекта здания, внешних инженерных систем, интерьера."
                    p="Детальные, продуманные чертежи и 3D модели позволят построить дом в соответствии с Вашими пожеланиями, с учетом особенностей рельефа местности и назначения помещений."
            .do-it
                #take-profi
                    include modules/take-profi
            main.content
                section
                    div
                        h2!="Устройство внутренних инженерных систем:<br/>Отопление, водоснабжение, вентиляция"
                        ul
                            li="─ Moscow Home профессионально проложит внутри Вашего дома систему отопления, которая наилучшим образом справится с обогревом, без потерь энергии и тепла."
                            li="─ Moscow Home обеспечит Ваш дом разветвленной системой водоснабжения для комфортного проживания."
                            li="─ Moscow Home реализует систему канализации Вашего дома."
                section
                    div
                        h2="Системы вентиляции и кондиционирования"
                        p="Moscow Home обеспечит Ваш дом чистым, свежим воздухом. Предложенное многообразие вентиляционных систем позволит оптимальным образом отрегулировать поступление и удаление воздуха в доме."
                section
                    div
                        h2="Электрические и слаботочные системы"
                        p="Moscow Home спроектирует и установит внутри Вашего дома все виды электрических и слаботочных систем, которые упростят управление домом и обеспечат комфорт:"
                        ul
                            li="─ охранно-пожарную сигнализацию"
                            li="─ систему видеонаблюдения"
                            li="─ ТВ, Интернет"
                aside
                    p.header-slim-big!="Примеры работ:<br/>Отопление, вода, канализация"
                    include modules/slider-bottom-engineering
            .do-it
                #set-system
                    include modules/set-system
            include modules/footer-why-moscow-home