extends ./layout.jade
block title
    title Проектирование и дизайн
block content
    body
        #design.container
            header.absolute
                include modules/nav
            .top.relative
                .top-container
                    h1.header-big.color-dark-middle="Проектирование зданий и помещений"
                    p="Moscow Home осуществляет полный комплекс услуг по разработке проектов жилых домов. Заказчикам предлагается разработка общего проекта здания, внешних инженерных систем, интерьера."
                    p="Детальные, продуманные чертежи и 3D модели позволят построить дом в соответствии с Вашими пожеланиями, с учетом особенностей рельефа местности и назначения помещений."
            .do-it
                #best-engineers
                    include modules/best-engineers
            main.content
                section.wide
                    div
                        div
                            h2="Архитектурное проектирование зданий"
                            p="Moscow Home является экспертом в разработке архитектурных решений для престижных строительных объектов. Компания разработала сотни чертежей, которые воплотились в современные и удобные для жизни дома."
                            p="Архитектурная концепция позволяет получить полное представление о будущем здании и внести необходимые коррективы еще до начала строительства."
                            button.btn-more
                section.wide
                    div
                        div
                            h2="Проектирование внешних инженерных систем"
                            p="Moscow Home разрабатывает внешние инженерные и дренажные системы с учетом привязки к реальному рельефу местности и расположения распределительных узлов систем. К этим системам относятся сети: -электро, -газо и водоснабжения, канализация, слаботочные системы. Профессионально разработанная и подготовленная документация в дальнейшем позволят беспрепятственно пройти необходимые этапы согласований."
                            button.btn-more
                section.wide
                    div
                        div
                            h2="Проектирование внутренних инженерных систем"
                            p="Продуманное расположение внутренних систем коммуникаций позволит обеспечить их бесперебойную работу и комфортное проживание в Вашем доме."
                            button.btn-more
                section.wide
                    div
                        div
                            h2="Проектирование электрических и слаботочных систем"
                            p="Moscow Home разработает индивидуальный проект электрических и слаботочных систем, которые сделают проживание в Вашем доме максимально комфортным и удобным"
                            button.btn-more
                section.wide
                    div
                        div
                            h2="Проектирование бассейнов"
                            p="Moscow Home разработает по заказу проект бассейна, который станет настоящим украшением Вашего дома. Комфортная зона отдыха порадует близких и друзей. Правильно подготовленный проект избавит Вас от возможных сложностей с дальнейшей эксплуатацией этого объекта"
                            button.btn-more
                section#work-examples.wide
                    aside
                        #gallery.header-slim-big="Примеры наших проектов"
                        include modules/slider-bottom
            .do-it.wide
                #order-project
                    include modules/order-project
            section#visual-bottom.wide.relative
                div.relative
                    div.relative
                        h2.header-big="Проектирование дизайна интерьера"
                        p="Moscow Home разработает для Вас интерьер дома и внутренней отделки, включая мебель, что позволит в деталях увидеть дом своей мечты. Компания сотрудничает с ведущими архитекторами и дизайнерами. Среди наших партнеров: Творческая группа Архитектурного холдинга «Стилистика», в лице Владимира Бурмистрова, специализирующегося на классических усадьбах и Архитектурное бюро Александры Федоровой, обладательницы множества международных наград, реализовавшей проекты загородных домов, вилл, квартир."
                        div.absolute
                        div.absolute
                div#lamp
                div#frame
                div#sofa
            section.wide
                div
                    p="Заказчикам предлагается более 40 видов наиболее популярных стилей,"
                    p="среди которых классический и современный, ампир, ар-деко, барокко, готика, восточный, эко-стиль."
                    ul
                        each style,link in { ampir:'ампир', art_deco:'арт-деко', barocco:'барокко', oriental:'восточный', over40:'более 40 стилей!'}
                            li
                                a(href=link)=style
                -var our_works="Наши работы: <span>стиль "
                -var span="</span>"
                div
                    .gallery-next.header-slim-big!=our_works + "классика" + span
                    include modules/slider-bottom
                div
                    .gallery-next.header-slim-big!=our_works + "современный" + span
                    include modules/slider-bottom
            .do-it
                #set-system
                    include modules/order-personal-design
            include modules/footer-why-moscow-home