extends ./layout.jade
block title
    title Инженерные системы
block content
    body
        #ingineering-systems.container
            .top
                div
                    h1="Инженерные системы"
                    p="Moscow Home обладает многолетним опытом строительства домов эконом класса и премиум-сегмента. Мы строим дома, которые отражают статус своего хозяина, подчеркивают его вкус и увлечения."
                    p="Компания реализовала более ста строительных объектов в престижных районах Московской области и получает от своих заказчиков превосходные рекомендации."
            .do-it
                #take-profi
                    include modules/take-profi
            main.content
                section
                    h2="Системы вентиляции и кондиционирования"
                    p="Moscow Home обеспечит Ваш дом чистым, свежим воздухом. Предложенное многообразие вентиляционных систем позволит оптимальным образом отрегулировать поступление и удаление воздуха в доме."
                section
                    h2="Электрические и слаботочные системы"
                    p="Moscow Home спроектирует и установит внутри Вашего дома все виды электрических и слаботочных систем, которые упростят управление домом и обеспечат комфорт:"
                    ol
                        li="─ охранно-пожарную сигнализацию"
                        li="─ систему видеонаблюдения"
                        li="─ ТВ, Интернет"
                aside
                    p.header-slim-big!="Примеры работ:<br/>Отопление, вода, канализация"
                    include modules/slider-bottom-engineering
            .do-it
                #set-system
                    include modules/set-system
            .footer
                div