extends ./layout.jade
block title
    title Кровельные и фасадные работы
block content
    body
        #facade.container
            include modules/header-nav
            //-.relative
            .top
                div
                    h1.header-big="Кровельные работы"
                    div
                        p="Moscow Home обладает многолетним опытом строительства домов эконом класса и премиум-сегмента. Мы строим дома, которые отражают статус своего хозяина, подчеркивают его вкус и увлечения."
                        p="Компания реализовала более ста строительных объектов в престижных районах Московской области и получает от своих заказчиков превосходные рекомендации."
            .do-it.first
                div
                    include modules/order-roofing
            -var works_examples="Примеры работ:"
            main.content
                p.pseudoheader="Moscow Home возведет по Вашему желанию кровлю уникальной формы, используя различные материалы: натуральные экологичные и надежные искусственные."
                div#facades
                    section
                        div
                            h2="Черепица"
                            ul.block
                                li!="─ &nbsp; Керамическая черепица отличается высокой морозостойкостью, высокими шумопоглащающими свойствами и низкими эксплуатационными расходами."
                                li!="─ &nbsp; Композитная черепица – это более совершенная и технологичная разновидность металлочерепицы, которая за счет многослойности обладает высокой механической устойчивостью и высокой степенью  сопротивления различным климатическим условиям."
                                li!="─ &nbsp; Битумная черепица не ржавеет, не подвержена коррозии и гниению, позволяет оперативно осуществлять ремонт."
                                li!="─ &nbsp; Цементно-песчаная черепица морозоустойчива и отлично сопротивляется агрессивным средам и солнечной радиации."
                            .header-slim-big=works_examples
                            include modules/works-examples
                    section
                        div
                            h2="Мягкая кровля"
                            p="Мягкая кровля используется во всем мире для обустройства скатных кровель и ценится за прекрасную гидроизоляцию. Такая крыша не подвержена гниению, коррозии, хорошо защищает от внешних шумов. Обилие модельного ряда позволяет подобрать кровлю для любого ландшафта и фасада дома."
                            .header-slim-big=works_examples
                            include modules/works-examples
                    section
                        div
                            h2="Металлочерепица"
                            p="Металлочерепица снижает нагрузку на стены и фундамент за счет небольшого веса, устойчива к механическим воздействиям."
                            .header-slim-big=works_examples
                            include modules/works-examples
                    section
                        div
                            h2="Медная кровля"
                            p="Медная фальцевая кровля отличается долговечностью, прочностью и герметичностью со сроком эксплуатации до 150 лет. Медная кровля всегда время была популярна, украшала особняки и памятники культуры, в настоящее время ее такжу используют для покрытия куполов церквей. Выбирая этот материал, Вы приобретаете надежность и статусность. "
                            .header-slim-big=works_examples
                            include modules/works-examples
                    section
                        div
                            h2="Сланцевая кровля"
                            p="Природный материал, образованный под воздействием давления и температуры, используется для надежной защиты и декоративного оформления многих элитных домов."
                            .header-slim-big=works_examples
                            include modules/works-examples
                    section
                        div
                            h2="Цинк-титановая кровля"
                            p="Цинк-титановая кровля имеет превосходные эксплуатационные характеристики и эффектный внешний вид."
                            .header-slim-big=works_examples
                            include modules/works-examples
                    section
                        div
                            h2="Комбинированная кровля"
                            p="Комбинированная кровля имеет многослойную структуру из различных материалов, обеспечивающих повышенную жесткость конструкции, способной выдержать существенную нагрузку."
                            .header-slim-big=works_examples
                            include modules/works-examples
                section#work-examples.wide
                    aside
                        #gallery.header-slim-big="Примеры работ кровли"
                        include modules/slider-bottom
                .do-it.wide
                    div
                        include modules/order-roofing
                section#facade-work.wide
                    div.relative
                        h1.header-big="Фасадные работы"
                        p="Поговорка «встречают по одежке» применима не только к людям, но и домам. Поэтому фасад дома играет важную роль в создании образа дома, в отражении вкусов и интересов его обитателей. Но фасад нужен не только для того, чтобы дом выглядел эстетично, а также для выполнения таких важных функций как теплоизоляция, гидроизоляция, шумоизоляция и защита здания от разрушений."
                        p="Наша компания предлагает различные виды облицовки фасадов, которые справятся с поставленными задачами: это отделка натуральным и искусственным камнем, кирпичом, декоративной плиткой и т.д."
                        div.substrate
                section#facade-beauty
                    div
                        div
                            h4="Облицовка фасадов натуральным камнем"
                            p="Moscow Home подчеркнет Ваш престиж за счет использования натурального камня во внешней отделке здания и оформления внутреннего интерьера. Натуральный камень продемонстрирует Вашу индивидуальность, а особенности этого материала позволят получить целый комплекс важных достоинств."
                            h4="Красота и уникальность"
                            p="Красота и уникальность природного рисунка, богатство цвета, интересные формы и фактурность камня  позволяют воплощать в жизнь самые смелые дизайнерские замыслы, которые придадут дому совершенный вид, что порадует Вас и приятно удивит гостей."
                            h4="Достоинства натурального камня"
                            p="Большим плюсом в выборе натурального камня являются его долговечность. Ваш дом будет долгое время выглядеть новым, сохраняя безупречный внешний вид."
                            h4="Что можно сделать из камня?"
                            p="Moscow Home предлагает различные виды обработки натурального камня – как автоматическую, так и ручную. Камень используется для облицовки фасада дома, отделки цокольных помещений, а также для создания индивидуальных декоративных элементов: камины, балясины, шары, вазы и многое другое. "
                            aside
                                .header-slim-middle!="Примеры работ:<span class='block'>оформление фасада штукатуркой</span>"
                                include modules/works-examples
                .do-it.wide
                    div
                        include modules/order-roofing-stone
                section#after-stone.wide
                    div
                        div
                            h4="Облицовка фасада штукатуркой"
                            p="Облицовка фасада штукатуркой играет важную роль при разработке внешнего вида здания и при необходимости позволяет дополнительно утеплить несущие стены, за счет добавления в смесь различных оснований."
                            aside
                                .header-slim-middle!="Примеры работ:<span>оформление фасада штукатуркой</span>"
                                include modules/works-examples
                    div
                        div
                            h4="Облицовка фасада кирпичом"
                            p="Облицовка фасада декоративный кирпичом придаст Вашего дому оригинальный внешний вид. Кирпич имеет широкий диапазон цветов и форм, позволяющих создавать имитацию старинных построек при строительстве новых домов. Отделка дома кирпичом придает дому дополнительную прочность, такой дом становится намного теплее и тише, так как этот материал обладает высокими звуко- и теплоизоляционными характеристиками."
                            aside
                                .header-slim-middle!="Примеры работ:<span>оформление фасада кирпичем</span>"
                                include modules/works-examples
                    div
                        div
                            h4="Облицовка фасада декоративной плиткой"
                            p="Керамическая плитка долгое время успешно применялась для внутренней отделки зданий, но благодаря ее характеристикам, разнообразию видов стала использоваться и для облицовки фасадов. Декоративная плитка может имитировать отделку « колотым камнем», «старым кирпичом» и т.д., что позволяет ее использовать для интересных фасадных решений."
                            aside
                                .header-slim-middle!="Примеры работ:<span>оформление фасада штукатуркой</span>"
                                include modules/works-examples
                .do-it.wide
                    div
                        include modules/order-lining
            include modules/footer-why-moscow-home