doctype html
html(lang="en")
  head
    -var pageTitle = "Home Moscow"
    title= pageTitle
    link(href="static/css/default.css",rel="stylesheet")
    script(src="static/js/min/jquery.min.js")
  body
      #page
          header
              nav
                  div
                      menu#top-menu
                          -var menuItems=["О компании", "Услуги", "Галерея", "Контакты"]
                          each item in menuItems
                              li
                                  a(href="#")=item
                  div
                      a#logo(href="index.html")
                  div
                      -var phone_number="+7 (495) 890-90-90"
                      aside#phone-number=phone_number
                      aside#consulting
                          a(href="#")="Консультация"
          main
              #slider
                  aside
                  aside
                  #showcase
                      ul
                          li="10 лет на рынке"
                          li="сотни реализованных проектов"
                          li="высокое качество работ"
                      ul
                          li="малые и крупные проекты"
                          li="от умеренных пожеланий до масштабных идей"
                          li="от локальных работ до строительства дома"
                      ul
                          li="рекомендации от бизнесменов, политиков, деятелей культуры"
              #you-need.header-slim-big="Вам необходимо"
              menu.you-need
                  each text,link in {'#':"Проектирование и дизайн",'#':"Кровельные и фасадные работы",'#':"Общестроительные и отделочные работы",'#':"Инженерные системы"}
                      li(title=text)
                          a(href=link)=text
              #gallery.header-slim-big="Галерея"
              #slider-bottom
          footer
            .float-left="Строительство элитной недвижимости с 2004 г."
            a.logo(href="index.html")
            span.phone_number=phone_number
      script(type='text/javascript', src='_dev/debug/call-dev.js')