div
    aside.float-left
        div.bgActiveCarrot="Почему мы?"
        each text,link in {we_can:'Что мы умеем?',what_done:'Какие проекты мы реализовали?',what_tell:'Что о нас говорят?',ask_us:'Задать вопрос'}
            div=text
    div.container
        section.visible
            h3="Компания Moscow Home"
            p="Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана."
            p="Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами."
        section
            h3="Что мы умеем"
            p="Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло."
            p="Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него в..."
        section
            h3="Какие проекты мы реализовали"
            p="Да проще сказать, чего не реализовали, ё-моё!"
            p="Всяко-разно реализовали, реализовали, да не выреализовывали..."
        section
            h3="Что о нас говорят"
            p="Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль. Эй, жлоб! Где туз?"
            p="Прячь юных съёмщиц в шкаф. Экс-граф? Плюш изъят. Бьём чуждый цен хвощ! Эх, чужак! Общий съём цен шляп (юфть) — вдрызг! Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль."
        section
            h3="Задать вопрос"
            p="Мы ответим на каждый ваш вопрос настолько подробно, насколько это возможно вообще!"