div
   h4="Контакты"
   div
       p!="Россия, МО, Рублёво-Успенское шоссе, д.6, &laquo;Торгово-деловой центр 1 км&raquo;"
       button.print
          span="Распечатать адрес"
       p
           strong="Телефон:"
           | +7 495 890-0909
       p
           strong="Email:"
           span.email!="&nbsp;"
   #map(style="height:230px;width:auto;")
       #waiting-map="...загрузка карты..."
